.Navigeiton {
    ul {
        display: flex;
        justify-content: space-between;
        li{
            list-style: none;
            margin-left: 1rem;
            &:first-child{
                margin-left: 0;
            }

            button {
                padding: 1rem 2rem;
                border-radius: 0.5rem;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}
