.loading {
	margin:20px auto;
	color:darkblue;
	width:5rem;
	height:2rem;
	--d:radial-gradient(farthest-side,currentColor 90%,#0000);
	background:var(--d),var(--d),var(--d);
	background-size:20px 20px;
	background-repeat:no-repeat;
	-webkit-animation: m 1s infinite alternate;
	        animation: m 1s infinite alternate;
  }
  
  @-webkit-keyframes m {
	0%  {background-position:calc(0*100%/2) 50% , calc(1*100%/2) 50% , calc(2*100%/2) 50% }
	20% {background-position:calc(0*100%/2) 0   , calc(1*100%/2) 50% , calc(2*100%/2) 50% }
	40% {background-position:calc(0*100%/2) 100%, calc(1*100%/2) 0   , calc(2*100%/2) 50% }
	60% {background-position:calc(0*100%/2) 50% , calc(1*100%/2) 100%, calc(2*100%/2) 0   }
	80% {background-position:calc(0*100%/2) 50% , calc(1*100%/2) 50% , calc(2*100%/2) 100%}
	100%{background-position:calc(0*100%/2) 50% , calc(1*100%/2) 50% , calc(2*100%/2) 50% }
  }
  
  @keyframes m {
	0%  {background-position:calc(0*100%/2) 50% , calc(1*100%/2) 50% , calc(2*100%/2) 50% }
	20% {background-position:calc(0*100%/2) 0   , calc(1*100%/2) 50% , calc(2*100%/2) 50% }
	40% {background-position:calc(0*100%/2) 100%, calc(1*100%/2) 0   , calc(2*100%/2) 50% }
	60% {background-position:calc(0*100%/2) 50% , calc(1*100%/2) 100%, calc(2*100%/2) 0   }
	80% {background-position:calc(0*100%/2) 50% , calc(1*100%/2) 50% , calc(2*100%/2) 100%}
	100%{background-position:calc(0*100%/2) 50% , calc(1*100%/2) 50% , calc(2*100%/2) 50% }
  }